<html>

    <head>
        <title>Home</title>
    </head>

    <body>

        Home Page

        <br>
        <button class="submit" type="submit" onclick="location.href='/profileEdit'" >Ediile</button>
        <button class="submit" type="submit" onclick="location.href='/profile'" >Edit User Profile</button>

        <button class="submit" type="submit" onclick="location.href='/logout'" >Logout</button>
        
    </body>
    
</html>
