<html>

<head>
    <title>Home</title>
</head>

<body>

    Home Page

    <br />

    <button class="submit" type="submit" onclick="location.href='/profile'">Edit User Profile</button>

    <button class="submit" type="submit" onclick="location.href='/logout'">Logout</button>
    <br />


    <div style="border-style: solid; display: inline-block; margin:5px">
        <img src="">
        <div class="p-4">
            <p class="uppercase tracking-wide text-sm font-bold text-gray-700">product_name</p>
            <p class="text-3xl text-gray-900">$750,000</p>
            <p class="text-gray-700">742 stock</p>
        </div>
    </div>


</body>

</html>