<html>

    <head> </head>

    <body> Home Page </body>

    <form action="/logout" method="get" id="logout_form"></form>

    <br>

    <button class="submit" type="submit" form="logout_form">Logout</button>

    
</html>
