<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profileEdit.css">

</head>

<body>
    <div class="container">

        <div class="cover-photo">
            <img src="data:image/<%= user.icon.type %>;base64,<%= user.icon.base64 %>" class="profile">
        </div>
        <div style="padding-top:80px;">
        <input type="file" accept="image/*" onchange="loadFile(event)">
        </div>
        <form action="/profile" method="post" id="edit_profile_form">
        <div class="emailcss" >
            Username :
            <input name="username" id="username" placeholder="  <%= user.username %> ">     
        </div>

        <div class ="emailcss">Email :
        <input name="email" id="email" placeholder=" <%= user.email %>">   
        </div>

        <div class="passwordcss">
            <label>Password :
                <input name="password" id="password" >  
            </label>
        </div>

        <button class="msg-btn" type="submit" form="edit_profile_form" onclick="">UPDATE</button>
        <button class="follow-btn" type="button" onclick="location.href='/profile'">Cancel</button>
        <button class="delete-btn" onclick="deleteConfirmation()">Delete</button>
        
        </form>
   
    </div>
    </div>
    </div> 

    <script>
        function deleteConfirmation() {
          if (confirm("Do you want to delete the account?") == true) {
            location.href='/delete'
          } else {}
        }
        </script>

</body>

</html>
