<html>

    <head> </head>

    <body> Edit User Profile Page 

        <br>

        <button class="submit" type="submit" onclick="location.href='/home'" >Home</button>

        <button class="submit" type="submit" onclick="location.href='/logout'" >Logout</button>

        <form action="/profile" method="post" id="edit_profile_form"></form>
        
        <button class="submit" type="submit" form="edit_profile_form">Confirm</button>

    </body>

</html>
