<html>

    <head>
        <title>404 Not Found</title>
    </head>

    <body>

        <h1>404 Not Fount</h1>
        <br/>
        <h3><%= message %></h3>
        <br/>
        <p><a href="/">back to home</a></p>

        
    </body>
    
</html>
